* {
    margin: 5px;
    padding: 0%;
}

body {
    background-color: rgb(50, 170, 194);
}

.navBar {
    background-color: floralwhite;
    padding: 15px;
    box-shadow: 0 2px 5px #92cbf9;
}

.navBar ul {
    display: flex;
    justify-content:center;
    
    margin: 0%;
    padding: 0%;
}

.navBar li {
    position: relative;
    
}

.navBar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
    padding: 10px 20px;
   
}

#home {
    border-radius: 5px;
    background-color: #00ffff;
}

#scienceProject {
    border-radius: 5px;
    background-color: black;
}

#gradeLevel {
    background-color: orangered;
    border-radius: 5px;
}

#login {
    background-color: purple;
    border-radius: 5px;
}

.navBar a:hover {
    box-shadow: 0 2px 4px rgba(125, 150, 100, 200);
}

.navBar {
    width: auto;
    text-align: center;
}

#coverImg {

    box-shadow: 0 1px 0px rgb(60, 61, 60);
}



.projectIdeas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.header {
    display: flex;
    background-color: hsl(186, 86%, 34%);
    width: 100vw
}

.nav-item {
    color: white;
    background-color: hsl(176, 73%, 74%);
    border-radius: 5px;
}


ul {
    list-style: none;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
